In [1]:
#Given the triangle of consecutive odd numbers:

#             1
 #         3     5
  #     7     9    11
#   13    15    17    19
#21    23    25    27    29
#...
#Calculate the row sums of this triangle from the row index (starting at index 1) e.g.:
#
#row_sum_odd_numbers(1); # 1
#row_sum_odd_numbers(2); # 3 + 5 = 8
#Test.assert_equals(row_sum_odd_numbers(13), 2197)
#Test.assert_equals(row_sum_odd_numbers(19), 6859)
#Test.assert_equals(row_sum_odd_numbers(41), 68921)

In [31]:
#первое число 2 строки основывается на последнем числе 1 строки, значит ищем последнее
#5 это 2 строка 2 число, 2*2+1=5. 11 - 3 строка 3 число, 3*3+1+1=9+2=11
#ищем последнее число x строки:
x = 13
y = x*x+(x-1)
print (y)

181

In [32]:
#верно, теперь находим сумму чисел в x строке, зная что в x строке = x чисел
quantity = x
res = y
while quantity > 1:
    res+= y-2
    quantity -=1
    y-=2
print (res)

2197

In [43]:
#все верно, запишу в один код
n = 19
y = n*n+(n-1)
res = y
while n > 1:
    res+= y-2
    n -=1
    y-=2
print (res)

6859

In [45]:
#решение с кв - ору, математик из меня так себе
n = 19
n ** 3

6859