In [ ]:
# Write a function

# triple_double(num1, num2)
# which takes numbers num1 and num2 and returns 1 if there is a straight triple of a 
# number at any place in num1 and also a straight double of the same number in num2.

# If this isn't the case, return 0

# Examples
# triple_double(451999277, 41177722899) == 1
# # num1 has straight triple 999s and num2 has straight double 99s

# triple_double(1222345, 12345) == 0
# # num1 has straight triple 2s but num2 has only a single 2

In [60]:
def triple_double(num1, num2):
    for a,b in enumerate(str(num1)):
        if str(num1)[a] == str(num1)[a+1] == str(num1)[a+2]:
            for c,d in enumerate(str(num2)):
                if str(num2)[c]==str(num2)[c+1] and b==d:
                        return 1
    return 0

In [61]:
print(triple_double(451999277, 41177722899))

9

In [65]:
#чтоб не было ошибки выхода за пределы списка добавил try
def triple_double(num1, num2):
    for a,b in enumerate(str(num1)):
        try:
            if str(num1)[a] == str(num1)[a+1] == str(num1)[a+2]:
                for c,d in enumerate(str(num2)):
                    try:
                        if str(num2)[c]==str(num2)[c+1] and b==d:
                            return 1
                    except IndexError:
                        return 0
        except IndexError:
            return 0

In [64]:
#а это так сначала хотел решить, но тут была проверка просто на кол-во символов,  а не идущих друг за другом
def triple_double(num1, num2):
    for i in str(num1):
        for a in str(num2):
            if str(num1).count(i)==3 and str(num2).count(a)==2 and i==a:
                print (i,a)
                return 1
    print (num1,num2)
    return 0

In [66]:
#решение с кв
def triple_double(num1, num2):
    return any([i * 3 in str(num1) and i * 2 in str(num2) for i in '0123456789'])
#до смешного просто, перебирает 0123456789 по одному символу *3 и *2 - ищет вхождение в нум1 и нум2